name: Deploy

on:
  release:
    types: [prereleased, released]

jobs:
  setup:
    name: 'Job: Setup'
    runs-on: [ubuntu-latest]
    concurrency:
      group: setup_${{ github.ref }}
      cancel-in-progress: false
    outputs:
      branch-name: ${{ env.BRANCH_NAME }}
      is-release: ${{ env.IS_RELEASE }}
      tag: ${{ env.TAG }}

    steps:
      - name: Set env 'BRANCH_NAME'
        run: echo BRANCH_NAME="${GITHUB_REF#refs/heads/}" >> ${GITHUB_ENV}

      - name: Set env 'TAG' (for tagged deployment)
        if: startsWith(github.ref, 'refs/tags/')
        run: echo TAG="${GITHUB_REF#refs/tags/}" >> ${GITHUB_ENV}

      - name: Set env 'IS_RELEASE' (on manual release - release based)
        if: github.event_name == 'release'
        run: echo IS_RELEASE=${{ github.event.release.draft == false && github.event.release.prerelease == false }} >> ${GITHUB_ENV}

  releaseMerging:
    name: 'Job: Merging release changes'
    if: always() && needs.setup.outputs.is-release == 'true'
    needs: ['setup']
    runs-on: [ubuntu-latest]

    steps:
      - name: Merging release changes to master
        if: github.event.release.target_commitish != 'develop'
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.CI_PAT }}
          event-type: merge
          client-payload: '{
            "commitish": "${{ github.event.release.target_commitish }}",
            "source_branch": "${{ needs.setup.outputs.branch-name }}",
            "target_branch": "master",
            "tag": "${{ needs.setup.outputs.tag }}"}'

      # target_commitish can be "develop" for releases that are solely based on tags
      - name: Merging release changes to master (not using develop commitish, but tag ref)
        if: github.event.release.target_commitish == 'develop'
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.CI_PAT }}
          event-type: merge
          client-payload: '{
            "source_branch": "${{ needs.setup.outputs.branch-name }}",
            "target_branch": "master",
            "tag": "${{ needs.setup.outputs.tag }}"}'
